a {
    text-decoration: none;
}

#top {
    border-bottom: solid 1px #f2f2f2;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding: 0.6em 0;
    font-weight: bold;
}

.fa-times {
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 1.1em;
    color: #737373;
}

#info {
    color: black;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    font-size: 0.95em;
    margin-bottom: 10px;
}

#input {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

#input input {
    height: 3.5em;    
    width: 95%;
    border: solid 1.8px #bfbfbf;
    padding: 0 0.8em;
    border-radius: 5px;
    font-size: 0.8em;
    color: black;
    background-color: white !important;
}

input {
    margin-bottom: 0.7em;
}

#input input::placeholder, textarea::placeholder {
    color: #bfbfbf;
}

/* #input input:focus {
    outline: solid 1px powderblue !important;
    border-radius: 5px;
} */

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

#buttons a {
    text-decoration: none;
    font-size: 1em;
    width: 95%;
    text-align: center;
    padding: 0.8em 0;
    margin-bottom: 10px;
}

#id-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 0.7em;
}

#id-box a {
    background-color: #ffa64d;
    width: 8em;
    color: white;
    font-size: 0.7em;
    height: 4em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#id-box #id {
    margin-bottom: 0;
    margin-right: 5px;
}

#birth-box, #day-box, #place-box {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 10px;
}

#birth-box input {
    margin-bottom: 0;
    color: #666666;
}

#birth-span, #day-span {
    width: 30px;
    margin-right: 10px;
    line-height: 1.4;
    color: black;
    font-size: 0.8em;
}

#gender-box, #time-box {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    color: black;
    align-items: center;
    margin-bottom: 10px;
}

#gender-box span {
    width: 29px;
    font-size: 0.8em;
    margin-right: 10px;
}

#gender-box button {
    background-color: #ffe5cc;
    width: 47%;
    border-radius: 5px;
    /* font-weight: 600; */
    height: 3.65em;
    font-size: 0.75em;
}

#gender-box div {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#gender, .day, #ma, .character {
    background-color: #ffa64d !important;
}

#day-box button {
    background-color: #ffe5cc;
    width: 12.5%;
    border-radius: 5px;
    /* font-weight: 600; */
    height: 3.65em;
    padding: 0;
    font-size: 0.75em;
}

#day-box div {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#time-box div {
    width: 48%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#time-box button{
    background-color: #ffe5cc;
    width: 47%;
    border-radius: 5px;
    /* font-weight: 600; */
    height: 3.65em;
    padding: 0;
    font-size: 0.75em;
}

#time-box select {
    width: 13%;
    text-align: center;
    border: none;
    padding-left: 0.8em;
    font-size: 0.8em;
    color: #666666;
    background-color : white;
}

select:focus, input:focus {
    outline: none;
}

#palce-box div{
    width: 95%;
}

#place-box div input {
    width: 100%;
    height: 3em;
    margin-bottom: 3px;
    font-size: 0.8em;
}

#place-span{
    width: 35px;
    margin-right: 10px;
    color: black;
    font-size: 0.8em;
    line-height: 1.4;
}

#style-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#style-box textarea {
    width: 100%;
    resize: none;
    min-height: 5.5em;
    padding: 0.5em 0.6em;
    line-height: 1.4;
    border-radius: 5px;
    border: solid 1.8px #bfbfbf;
    font-size: 0.8em;
    background-color: white !important;
}

#style-box textarea:focus{
    outline: none;
}

#style-box span {
    color: black;
    margin-bottom: 5px;
    font-size: 0.8em;
}

#submit-btn {
    
    width: 95%;
    margin: 0 auto;
      
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#submit-btn a {
    background-color: #ffa64d;
    width: 100%;
    height: 3.7em;
    color: white;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}




/* join2 */

#type {
    width: 95%;
    font-size: 0.8em;
    height: 3.5em;
    border-radius: 5px;
    border: solid 1.8px #bfbfbf;
    padding-left: 10px;
}

#type-box {
    width: 95%;
    margin: 0 auto;
    display: flex;
}

#type-input {
    width: 95% !important;
    
}

#space {
    width: 30px;
    visibility: hidden;
    margin-right: 10px;
}

#address {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 10px;
}

#address div {
    display: flex;
    width: 95%;
    justify-content: space-between;
}

#address input {
    margin-bottom: 0 !important;
    width: 68%;
}

#address button {
    background-color: #ffa64d !important;
    width: 30%;
    border-radius: 5px;
    height: 3.65em;
    font-size: 0.75em;
}

.surgery {
    width: 48% !important;
    margin-right: 10px !important;
}

.surgery button {
    width: 46% !important;
}

#weight {
    width: 20% !important;
    margin-bottom: 0 !important;
    text-align: right;
}

#style-box input {
    width: 100%;
    margin-bottom: 0 !important;
}

#style-box div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#style-box div button {
    background-color: #ffe5cc;
    width: 12.5%;
    border-radius: 5px;
    /* font-weight: 600; */
    height: 3.65em;
    padding: 0;
    font-size: 0.75em;
}


#file-div {
    width: 95%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 10px;
}

.file-upload {
    /* position: relative; */
    display: inline-block;
    
  }
  
  .file-upload__label {
    display: block;
    padding: 0.6em 1.1em;
    color: #8c8c8c;
    background: white;
    border-radius: .3em;
    border: solid 1px #d9d9d9;
  }
      
  .file-upload__input {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      font-size: 1;
      width:0;
      height: 100%;
      opacity: 0;
  }

  #remove {
    background-color: rgb(26, 26, 26, 0.5);
    color: white;
    height: 15px;
    padding: 0;
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    font-size: 0.7em;
    position: absolute;
    margin-left: -0.5em;
    margin-top: -0.5em;
  }

  #file-img img {
    margin-left: 10px; 
    border-radius: 0.3em; 
  }

