<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="community.dao.CommunityDAO">
	
		<insert id="insertCommunity" parameterType="comVO">
			INSERT INTO HR.TBL_BOARD(
			NUM, 
			USER_ID, 
			CONTENT, 
			LIKE_CNT, 
			"DATE", 
			"TYPE", 
			"FILE",
			USER_NAME)
			VALUES(
			SEQ_BOARD.NEXTVAL, 
			#{user_id}, 
			#{content}, 
			#{like_cnt}, 
			SYSDATE, 
			#{type}, 
			#{file},
			#{user_name})
			
		</insert>
		
		<select id="selectComList" resultType="comVO">
		<![CDATA[
			SELECT
			NUM, 
			USER_ID, 
			CONTENT, 
			LIKE_CNT, 
			TO_CHAR("DATE", 'YYYY-MM-DD') "DATE", 
			"TYPE", 
			"FILE",
			USER_NAME
			FROM (SELECT * FROM TBL_BOARD WHERE NUM > 0 ORDER BY NUM DESC, "DATE" DESC) WHERE ROWNUM BETWEEN 1 AND 20
		]]>
		</select>
		
		<select id="scrollDown" parameterType="_int" resultType="comVO">
		<![CDATA[
			SELECT
			NUM, 
			USER_ID, 
			CONTENT, 
			LIKE_CNT, 
			TO_CHAR("DATE", 'YYYY-MM-DD') "DATE", 
			"TYPE", 
			"FILE",
			USER_NAME
			FROM TBL_BOARD WHERE NUM <= #{num} AND NUM > #{num}-20 ORDER BY NUM DESC, "DATE" DESC
		]]>
		</select>
		
		<select id="getCom" parameterType="_int" resultType="comVO">
			SELECT
			NUM, 
			USER_ID, 
			CONTENT, 
			LIKE_CNT, 
			TO_CHAR("DATE", 'YYYY-MM-DD') "DATE", 
			"TYPE", 
			"FILE"
			FROM TBL_BOARD WHERE NUM = #{num}
		</select>
	
	</mapper>